<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Some html boilerplate omitted -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism-tomorrow.min.css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico' />
    <link rel="stylesheet" href="/css/styles.css">
    <title>{%- if title %}{{ title }}{% else %}Budi Irawan - Frontend Developer{% endif %}</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KWRBTM9Q10"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-KWRBTM9Q10');
    </script>
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>
    <div class="container">
      {% include "header.njk" %}
      {{ content | safe }}
      {% include "footer.njk" %}
    </div>

    {% set js %}
      {% include "js/core.js" %}
      {% include "js/hello.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>

  </body>
</html>



