@import '_normalize.css';
@import '_variables.css';

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: $text-color;
  color: $page-color;
}
::selection {
  background-color: $text-color;
  color: $page-color;
}

html {
}

body {
  text-align: center;
  background-color: $page-color;
  color: mix($text-color, $page-color, 90%);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
  min-height: 100vh;
  background:  $page-color;
  padding: 30px;

  @media (min-width: $narrow) {
    font-size: 18px;
  };
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
  @media (min-width: $mid) {
    width: 600px;
  };
  @media (min-width: $wide) {
    width: 700px;
  };
}

h1, h2, h3 {
  color: $text-color;
  font-weight: 600;
  margin-top: 2em;
  margin-bottom:0.2em;
  line-height: 1;
}


p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.title {
  margin-top: 0;
  font-size: 3em;
}

.subtitle {
  font-size: 1.2em;  
  margin-top: 0;
  margin-bottom: 2em;  
}

ul, ol {
  padding-left: 1em;
}

a {
  color: #0e76a9;
  text-decoration: none;  
}
a:hover,
a:focus {
  color: $accent-color;
  border-bottom-color: $text-color;
}

.header {
  display: flex;
}

.header__title {
  padding: 0;
  margin: 0 0 0 10px;
}

.header__link {
  color: $text-color;
  display: flex;
  align-items: center;
}

.header__image {
  border-radius: 50%;
  border: 3px solid transparent;
  transition: border-color 0.3s linear;
}

.header__link:hover .header__image {
  border-color: $accent-color;
}

.header__link:hover .header__title {
  color: $accent-color;
}

.nav {
  padding: 2em 0;
}

.nav__item {
  display: inline;
}

.nav__link {  
  display: inline-block;
  background: $gray-color;
  padding: .5em 0;
  margin-left: 0;
  margin-right: 0.7em;
  width: 9em;
  text-align: center;  
  text-decoration: none;
  color: $text-color;
}

.nav__item--active .nav__link {    
  color: #fff;
  background: $accent-color;
  font-weight: 600;
}

.section__title {
  margin-bottom: 1em;
}

.article__link {
  display: flex;
  align-items: center;
  padding: 2em 1em;
  border-bottom: 1px dashed #ccc;
}

.article__title {
  margin-top: 0;
}

.article__link {
  color: $text-color;
}

.article__link:hover {
  color: $text-color;
  background: $gray-color;
}

.article__link:hover .article__title {
  color: $accent-color;
}

.article__image {
  margin-right: 1em;
  width: 40px;
  height: 40px;
}

code {
  font-size: 0.8em;
  background-color: #f1f2f4;
  color: rgb(42, 65, 77);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  white-space: nowrap;
}

.date {
  font-size: 0.8em;
  font-style: italic;
}

main {
  margin-top: 4em;
}

pre {
  overflow: auto;
  border-radius: 6px;
  code {
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}


footer {
  margin-top: 6em;
  padding-top: 1em;
  padding-bottom: 6em;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: $text-color;
  font-size: 0.7em;  
}
