@import '_variables.css';

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: $text-color;
  color: $page-color;
}
::selection {
  background-color: $text-color;
  color: $page-color;
}

html {
}

body {
  text-align: center;
  background-color: $page-color;
  color: mix($text-color, $page-color, 90%);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
  min-height: 100vh;
  background:  $page-color;

  @media (min-width: $narrow) {
    font-size: 18px;
  };
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
  @media (min-width: $mid) {
    width: 600px;
  };
  @media (min-width: $wide) {
    width: 700px;
  };
}

h1, h2, h3 {
  color: $text-color;
  font-weight: 600;
  margin-top: 2em;
  margin-bottom:0.2em;
  line-height: 1;
}
h1 {
  font-size: 3em;
  margin-top:0.4em;
  margin-bottom:0.2em;
  line-height: 1;

  @media (min-width: $mid) {
    font-size: 4em;
  };
  @media (min-width: $wide) {
    font-size: 6em;
  };
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.subtitle {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 5em;  
}

ul, ol {
  padding-left: 1em;
}

a {
  color: #0e76a9;
  text-decoration: none;  
}
a:hover,
a:focus {
  color: $accent-color;
  border-bottom-color: $text-color;
}

.nakedLink a:link,
.nakedLink a:visited,
.nakedLink a:hover,
.nakedLink a:focus {
  border-bottom-style:none;
}

.nav {
  padding-top: 3em;
}

.nav__item {
  display: inline;
}

.nav__link {  
  display: inline-block;
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: $text-color;
  border-bottom-style: none;
  padding-top: 0.8em;
  padding-bottom: 2em;
  margin-left: 0;
  margin-right: 0.7em;
  width: 9em;
  text-align: left;  
  text-decoration: none;
  color: $text-color;
}

.nav__link:hover, 
.nav__link:focus {
  border-top-color: $accent-color;
  color: $accent-color;
}

.nav__item--active .nav__link {  
  border-top-color: $accent-color;
  color: $accent-color;
  font-weight: 600;
}

.article__link {
  color: $text-color;
}

code {
  font-size: 0.8em;
  background-color: #f1f2f4;
  color: rgb(42, 65, 77);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  white-space: nowrap;
}

.date {
  font-size: 0.8em;
  font-style: italic;
}

main {
  margin-top: 4em;
}

pre {
  overflow: auto;
  border-radius: 6px;
  code {
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}


footer {
  margin-top: 6em;
  padding-top: 1em;
  padding-bottom: 6em;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: $text-color;
  font-size: 0.7em;  
}
